*{
    padding: 0;
    margin: 0;
    font-family: inter;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    height: 92px;
}
.navbar{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    align-items: center;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li a{
    text-decoration: none;
    padding: 5px 10px;
    color: #000000;
    font-weight: normal;
}
.btn{
    width: 164px;
    height: 44px;
    background-color: #469165;
    border-radius: 3px;
    border: none;
    color: #ffff;
    padding: 12px 16px;
}
.hero-section{
    width: 100%;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-container{
    text-align: center;
    max-width: 1360px;
    height: 379px;
    padding: 20px;
}
.hero-section .hero-container .access{
    margin-top: 115.5px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 8px 12px;
    display: inline;
    color: #469165;
}
.hero-container h1{
    margin-top: 16px;
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.hero-container span{
    color: #30B868;
}
.hero-container p{
    line-height: 24px;
    margin-bottom: 32px;
}
.hero-section .hero-container .hero-section-button .hero-btn-1{
    width: 251px;
    border-radius: 3px;
    height: 52px;
    background-color: #469165;
    border: none;
    color: #ffffff;
}
.hero-section .hero-container .hero-section-button{
    display: flex;
    gap: 16px;
    text-align: center;
    justify-content: center;
    padding: 12px 16px;
}
.hero-section .hero-container .hero-section-button .hero-btn-2{
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    width: 198px;
    border-radius: 3px;
    height: 52px;
    color: #ffffff;
}
.main-card-section{
    max-width: 100%;
    max-height: 448px;
    padding: 50px 120px 120px 120px;
}
.main-card-section .card-header{
    width: 1360px;
    padding-bottom: 44px;
    text-align: center;
}
.main-card-section .card-header h2{
    font-size: 48px;
    margin: 0 auto;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.main-card-section .card-header p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 44px;
    line-height: 20px;
}
.main-card-section .all-card .card div img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
}
.main-card-section .all-card {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.main-card-section .all-card .card{
    width: 322px;
    height: 300px;
    padding: 24px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.main-card-section .all-card .card-icon,h3{
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    color: #001931;
}
.main-card-section .all-card p{
    font-size: 16px;
    color: #627382;
    justify-content: space-around;
}
.the-solution-section{
    display: flex;
    gap: 60px;
    align-items: left;
    width: 1360px;
    height: 600px;
    padding: 120px;
    background-color: #ffffff;
}
.the-solution-section .solution-container{
    width: 600px;
    height: 397px;
    padding: 101.5px 100px 101.5px;
}
.the-solution-section .solution-container h5 {
    color: #469165;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.the-solution-section .solution-container h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 16px;
    color: #001931;
}
.the-solution-section .solution-container p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}
.the-solution-section .solution-container ul li{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    list-style: none;
}
.the-solution-section .solution-image {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
.tmc-section{
    width: 1360px;
    height: 385px;
    background-color: #F7F6F2;
    margin: 120px auto;
    text-align: center;
    border-radius: 12px;
}
.tmc-section h1{
    padding-top: 80px;
    padding-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    line-height: 48px;
}
.tmc-section p{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
}
.tmc-section button{
    margin-top: 24px;
    width: 194px;
    height: 52px;
    padding: 12px 16px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
}
.footer-container {
    background-color: #001931;
    width: 100%;
    padding: 120px 120px 30px 120px;
    box-sizing: border-box; 
}

.footer-container .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.footer-container .footer-content .social-icon-heder .social-icon img{
    width: 24px;
    height: 24px;
    margin: 5px;
} 
.social-icon-heder h5{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
hr{
    margin: 80px 120px 30px 120px;
    color: #ffffff;
}
.footer-container .copyright {
    text-align: center;
    color: #FAFAFAFA;
}